<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Installation Guide</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#install-form').submit(function(event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/install',
                    data: {
                        'ip': $('#ip').val()
                    },
                    success: function(response) {
                        $('#result').text(response.message);
                    },
                    error: function(response) {
                        $('#result').text('Installation failed.');
                    }
                });
            });
        });
    </script>
</head>
<body>
<h1>Installation Guide</h1>
<form id="install-form">
    <label for="ip">IP Address:</label>
    <input type="text" id="ip" name="ip"><br><br>
    <button type="submit">Install</button>
</form>
<p id="result"></p>
</body>
</html>
